body {
  margin: 0px;
  background-color:#D8F3F5;
  width: 115%;
}

div, input {
  font-family: 'Comfortaa', cursive;
}

.card {
  padding: 10px;
  color: #355070;
  background-color: white;
  
  border: 1px solid #d4a8a1;
  border-top: 5px solid #d1cfe2;
  margin: 10px;
  height: 200px;
  width: 175px;
  font-size: 14px;

  cursor: grab;
}


input {
  margin-left: auto;
  width: 100px;
  font-size: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_layout {
  display: flex;
  align-items: center;
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;
  align-items: center;

}

.icons {
  width: 100%;
  height: 35px;
  padding: 5px;

  align-items: center;
}

#mainHeader {
  display:flex;
  background-color: #b8e0d2;
  width: 150%;
}

#headerContent {
  position: sticky;
  left: 0;

  display: flex;
}

#sectionHeader {
  padding: 15px;
  color: #4a6153;
  font-size: 36px;

  display: flex;
  align-items: center;
}

#headerIcon {
  height: 50px;
  width: 50px;
  padding: 10px;
}

#sections {
  display: flex;
  flex-direction: column;

  font-size: 24px;
  width: 150%;
  overflow-x: auto;
}

#sectionHeaders {
  display:flex; 

  color: #567BA8;
  padding: 30px;
}

.header {
  width: 300px; 

  display: flex; 
  justify-content: space-evenly;
  flex: 0 0 300px;
}

#sectionContent {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 300px;
}

button {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  font-size: 24px;
  color: #d4a8a1;

  border: 1px solid #d4a8a1;
  background-color: #FFEEE6;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  width: 300px;
  min-height: 110vh;
  margin-top: 10px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 300px;
}

#deletecard {
  margin-left: auto;
  height: 17px;
  width: 17px;
  background-color: white;
  border: none;
  padding: 0px;

  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  position:relative;
  display: inline-block;
}

.tooltip {
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;

  pointer-events: none;
}

.content.applied {
  padding-left: 30px;
}

#footer {
  height: 50px;
  background-color: #b8e0d2;
  color: #4a6153;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
