body {
  margin: 0px;
}

.card {
  padding: 10px;
  color: #355070;
  
  border: 2px solid #d3d3d3;
  border-top-color: #6d597a;
  margin: 10px;
  height: 200px;
  width: 175px;
  font-size: 14px;
}


input {
  margin-left: auto;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_layout {
  display: flex;
}

label{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px;
  align-items: center;

}

.icons {
  width: 25px;
  height: 100%px;
  padding: 10px;
}

#sectionHeader {
  padding: 15px;
  border-bottom: solid 2px black;
  background-color: #6d597a;
  color: white;
  font-size: 36px;

  display: flex;
  align-items: center;
}

#sections {
  display: flex;
  flex-direction: column;

  font-size: 24px;
  width: 150%;
  overflow-x: auto;
}

#sectionHeaders {
  display:flex; 

  color: #355070;
  padding: 15px;
}

.header {
  width: 300px; 

  display: flex; 
  justify-content: space-evenly;
  flex: 0 0 300px;
}

#sectionContent {
  display: flex;
  justify-content: flex-start;
  flex: 0 0 300px;
}

button {
  background-color: #eaac8b;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  font-size: 30px;
  color: #b56576;
}

.content {
  width: 300px;
  min-height: 110vh;
  margin-top: 10px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 300px;
}

#deletecard {
  margin-left: auto;
  height: 17px;
  width: 17px;
  background-color: white;
  border: none;
  padding: 0px;

  font-size: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container {
  position:relative;
  display: inline-block;
}

.tooltip {
  display: none;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}